.button {
  color: white;
  background-color: inherit;
  border: solid;
  border-width: thin;
  border-color: black;
  border-radius: 12px;
  position: relative;
  bottom: 3px;
}

.button:hover {
  background-color: grey;
}

.degree-container {
  color: white;
  width: 168px;
  height: 125px;
  text-align: right;
  border: solid;
  border-width: thin;
  border-color: black;
  border-radius: 4px;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.temp {
  font-size: 55px;
}

.feels {
  font-weight: bolder;
  font-size: 13px;
}
